.nav {
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.logo {
    width: 10%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

.searchBox {
    width: 90%;
    text-align: center;
    margin-left: -5%;
}

.searchBox input {
    width: 500px;
    border: #ccc 1px solid;
    padding: 10px;
}

.searchBox button {
    width: 100px;
    height: 37.5px;
    margin-top: -1px;
    margin-left: -1px;
    border: #ccc 1px solid;
}