.nav {
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.logo {
    width: 40%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    text-align: left;
}

.searchBox {
    width: 60%;
    text-align: center;
}

.searchBox input {
    width: 90%;
    border: #ccc 1px solid;
    padding: 10px;
}

.searchBox button {
    width: 10%;
    height: 37.5px;
    margin-top: -1px;
    margin-left: -1px;
    border: #ccc 1px solid;
}


@media screen and (max-width: 60rem) {
    .nav {
        justify-content: space-between;
    }
    .searchBox {
        text-align: right;
        margin-left: 0;
    }
}

@media screen and (max-width: 48rem) {
    .logo {
        display: none;
    }
    .searchBox {
        width: 100%;
    }
}

@media screen and (max-width: 32rem) {
    .video {
        width: 100%;
    }
}