.videos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.video {
    width: 50%;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    margin-bottom: .2em;
    padding: 0;
    transition: transform 150ms ease-in;
    cursor: pointer;
    box-sizing: border-box;
}

.video:hover {
    transform: scale(1.01);
}

.info {
    padding-left: 10px;
}

.title,
.channel {
    margin: 0;
}

.channel {

}