.nav {
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.logo {
    width: 10%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}
.searchBox {
    width: 90%;
    text-align: center;
    margin-left: -5%;
}
.searchBox input {
    width: 500px;
    border: #ccc 1px solid;
    padding: 10px;
}

.searchBox button {
    width: 100px;
    height: 37.5px;
    margin-top: -1px;
    margin-left: -1px;
    border: #ccc 1px solid;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    padding: 2em;
    background: #f9f9f9;
    margin-top: 0;
}

.video {
    width: 23%;
    align-items: center;
    margin: 1em .8em;
    transition: transform 150ms ease-in;
    cursor: pointer;
    box-sizing: border-box;
}

.video:hover {
    transform: scale(1.01);
}

.thumbnailsBox {
    width: 100%;
    height: 172px;
    overflow: hidden;
}

.thumbnails {
    width: 100%;
}

.info {
    padding-top: 10px;
}

.title {
    font-size: .8em;
    margin: 0;
    margin-bottom: 6px;
}

.text {
    color: #333;
    margin: 0;
    font-size: .7em;
    margin-bottom: 2px;
}